html {
	box-sizing: border-box;	
	background: url(assets/bg.jpg);
	background-size: cover;
}

*, *:before, *:after {
	box-sizing: inherit;
}

div {
	height: 50px;
	width: 50px;
	background-color: red;
	/*position: relative;*/
	left: 100px;
	top: 100px;
}

.imgBorder {
	height: 60px;
	width: 50px;
	background-color: rgba(192,192,192,0.3);
	left: 100px;
	top: 100px;
	/*position: absolute;*/
}